body {
  font-size: 5em ;
  overflow: hidden ;
  background: -moz-linear-gradient(top,  rgba(26,41,242,0.04) 0%, rgba(221,241,249,0.36) 35%, rgba(56,109,33,0.37) 36%, rgba(60,142,44,0.38) 37%, rgba(105,114,35,0.9) 93%, rgba(105,114,35,0.96) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,41,242,0.04)), color-stop(35%,rgba(221,241,249,0.36)), color-stop(36%,rgba(56,109,33,0.37)), color-stop(37%,rgba(60,142,44,0.38)), color-stop(93%,rgba(105,114,35,0.9)), color-stop(100%,rgba(105,114,35,0.96))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(26,41,242,0.04) 0%,rgba(221,241,249,0.36) 35%,rgba(56,109,33,0.37) 36%,rgba(60,142,44,0.38) 37%,rgba(105,114,35,0.9) 93%,rgba(105,114,35,0.96) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(26,41,242,0.04) 0%,rgba(221,241,249,0.36) 35%,rgba(56,109,33,0.37) 36%,rgba(60,142,44,0.38) 37%,rgba(105,114,35,0.9) 93%,rgba(105,114,35,0.96) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(26,41,242,0.04) 0%,rgba(221,241,249,0.36) 35%,rgba(56,109,33,0.37) 36%,rgba(60,142,44,0.38) 37%,rgba(105,114,35,0.9) 93%,rgba(105,114,35,0.96) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(26,41,242,0.04) 0%,rgba(221,241,249,0.36) 35%,rgba(56,109,33,0.37) 36%,rgba(60,142,44,0.38) 37%,rgba(105,114,35,0.9) 93%,rgba(105,114,35,0.96) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1a29f2', endColorstr='#f5697223',GradientType=0 ); /* IE6-9 */
}
h1 {
  position: absolute ;
  top: 150px ;
  left: -100px ;
  padding: 0 ;
  margin: 0 ;
  font-size: 5em ;
  color: rgba( 50, 50, 50, 0.8 );
  transform:rotate(5deg);
  -ms-transform:rotate(5deg); /* IE 9 */
  -moz-transform:rotate(5deg); /* Firefox */
  -webkit-transform:rotate(5deg); /* Safari and Chrome */
  -o-transform:rotate(5deg); /* Opera */
  text-shadow: 12px 12px 12px rgba( 0, 0, 0, 0.4 ) ;
}
span {
  font-family: 'Princess Sofia', sanserif ;
  float: right ;
}
a {
  text-decoration: none ;
}